.prev{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 50vh;
    /* background-color: transparent; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
.next{
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 0px;
    top: 50vh;
    /* background-color: transparent; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
#but1{
    font-size: xx-large;
    position: absolute;
    top:70vh ;
    left: 20vh;
    background-color: white;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 76px;
    padding: 20px;
    height: 10vh;
    width: 15vw;
    cursor: pointer;
}
#but1:hover{
color: rgb(28, 195, 236);

}

#features{
display: flex;
flex-direction: column;
}

#features img{
    float: left;
    /* margin-right: 5em;
    margin-left: 1em;
    margin-bottom: 1.8em;
    margin-top: 2em; */
    width: 50vh;
}
 .feature{
    display: flex;
    flex-direction: row;
}
section > br{
    clear: both;
}