.prev{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 50vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
body{
    position: relative;
    min-height: 100vh;
}
.next{
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 0px;
    top: 50vh;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
#but1{
    font-size: xx-large;
    position: absolute;
    top:55vh ;
    right: 10vh;
    background-color: white;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 76px;
    padding: 20px;
    height: 10vh;
    width: 15vw;
    cursor: pointer;
}
#but1:hover{
color: rgb(175, 19, 232);

}
#features img{
    width: 50vh;
}

section > br{
    clear: both;
}

#slider img{
    width: 80vw;
    height: 80vh;
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    left: 47vw;
  }
  
  .active, .dots:hover {
    background-color: #717171;
  }
  #slider p{
    position: absolute;
    top: 45vh;
    right: 10vw;
  }

  #features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 90px;
  position: absolute;
  left: 22vw;
  cursor: pointer;
  padding-bottom: 2.5rem;
}

.feature{
border: .1px solid  rgb(208, 208, 208);
box-shadow: 10px 20px 10px  rgba(59, 59, 59, 0.227);
}

.feature:hover {
    position: relative;
    top: -.5em;
    box-shadow: 10px 20px 10px  rgba(6, 6, 6, 0.227);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;   /* Height of the footer */
    background: #6cf;
 }

nav img {
    height: 100vh;
}
#footer { position:absolute;
     width:100%;
      height:100px;
     }