.prev{
    cursor: pointer;
    width: auto;
    position: absolute;
    top: 50vh;
    /* background-color: transparent; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
.next{
    cursor: pointer;
    width: auto;
    position: absolute;
    right: 0px;
    top: 50vh;
    /* background-color: transparent; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: opacity(10px);
    font-weight: bold;
    padding: 10px;
}
#but1{
    font-size: xx-large;
    position: absolute;
    top:62vh ;
    right: 10vh;
    background-color: white;
    font-weight: bolder;
    border: 1px solid transparent;
    border-radius: 76px;
    padding: 20px;
    height: 10vh;
    width: 15vw;
    cursor: pointer;
}
#but1:hover{
color: rgb(118 127 252);

}


#features img{
    width: 50vh;
}

section > br{
    clear: both;
}
#slide{
    margin-top: -20px;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

#Frame{
    margin-top: -20px;
    width: 500vw;
    height: 80vh;
    
}

.dots {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    left: 47vw;
  }
  
  .active, .dots:hover {
    background-color: #717171;
  }
  #slider p{
    position: absolute;
    top: 45vh;
  }

  #features{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
  column-gap: 90px;
  position: absolute;
  left: 22vw;
  cursor: pointer;
}

.feature{
border: .1px solid  rgb(208, 208, 208);
box-shadow: 10px 20px 10px  rgba(59, 59, 59, 0.227);
}

.feature:hover {
    position: relative;
    top: -.5em;
    box-shadow: 10px 20px 10px  rgba(6, 6, 6, 0.227);
}

footer{
    position: absolute;
    bottom: 1vh;
    left: 100px;
}

nav img {
    height: 100vh;
}

#about{
    font-size: xx-large;
    position: absolute;
    left: 40vw;
}
#photos{
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}
#photos >div{
border: 0.1px solid  rgb(208, 208, 208);
box-shadow: 10px 20px 10px  rgba(59, 59, 59, 0.227);
border-radius: 1%;
padding: 15px;
overflow-x: hidden;
    overflow-y: hidden;
}
#photos >div:hover{
    position: relative;
    top: -.5em;
    box-shadow: 10px 20px 10px  rgba(0, 0, 0, 0.227);

}
#photos div >div h2{
    position: relative;
    left: 110px;
    padding: 5px;
}
#photos >div>div a{
    position: relative;
    left: 50px;
    padding: 10px;
    
}
#photos{
    position: relative;
    top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
}
#photos >div{
    box-shadow: 10px 20px 10px 5px rgba(59, 59, 59, 0.227);
    border-radius: 1%;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#photos >div:hover{
    border: 0.1px solid  rgb(182, 180, 180);
    position: relative;
    top: -.5em;
    box-shadow: 10px 20px 10px 8px rgba(0, 0, 0, 0.227);

}
#photos div >div h2{
    position: relative;
    left: 110px;
    padding: 5px;
}
#photos >div>div a{
    position: relative;
    left: 50px;
    padding: 10px;
    
}

#updates{
    position: absolute;
    top: 0vh;
    left: 15vh;
    height: 100vh;
    width: 100vw;
    /* border: 2px solid #717171; */
    background-repeat: no-repeat;
    background-image:-webkit-image-set();
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url("/static/images/WHITE\ BACKGROUND.png");
    
}
#updates h1{
    position: relative;
    top: 5vh;
    left: 63vh;
    color: white;
    font-size: 7vh;
}
#results{
    position: relative;
    top: 2vh;
    left: 20vh;
  cursor: pointer;

}
#re{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: absolute;
    left: 90vh;
    top: 33vh;
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 7vh;
  column-gap: 90px;
} 
    #re div{

        cursor: pointer;
    }

#re img{
/* height: 60vh; */
width: 60vh;



}