* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}



#nav ul li {
    padding: 12px 20px;
    list-style: none;
    display: inline;
    
}



#nav ul li a {
    text-decoration: none;
    color: black;
    display: inline;
    padding: 0 15px;
    font-size: 20px;
    width: max-content;
    margin-left: 5vw;
    
    color: rgb(223, 223, 223);
}

#nav ul li a:hover {
    /* background-color: rgb(255, 255, 255); */
    /* padding: 3vh; */
    /* border: 1px solid rgb(175, 19, 232); */
    color: white;
    /* font-size: 22px; */
}

#nav{
    padding: 25px ;
    line-height: 4vh;
    display: flex;
    justify-content: center;
    background-color:rgb(175, 19, 232) ;
}
#nav ul{
    /* background: white; */
    word-spacing: 5px;
}


nav img{
    margin: 0;
    padding: 1px;
    height: 25px;
    width: 25px;
}

h1{
    display: flex;
    justify-content: center;
}

#logo{
    height: 10vh;
}