<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">

    <title>Document</title>
</head>
<body>
    <div id="about">
    <h1><b>OUR TEAM</b></h1>
    <h4>Team Work is the Key</h4>
    </div>

    <section id="photos">
        <div>
            <img src="./static/images/raj.png" alt="">
            <div class="icons">
                <h2><b>RAJ </h2></b>
                <a href="https://www.linkedin.com/in/raj-nangare/"><img src="./static/images/link.png" alt=""></a>
                <a href="https://www.instagram.com/rajnangare/"><img src="./static/images/insta.png" alt=""></a>
            <a href="https://github.com/RajNangare"><img src="./static/images/git.png" alt=""></a>
    
    
            </div>
        </div>
        <div>
            <img src="./static/images/Jineet.png" alt="">
            <div class="icons">
                <h2><b>JINEET </h2></b>
                <a href="https://www.linkedin.com/in/jineet-vaishnav-b35452197/"><img src="./static/images/link.png" alt=""></a>
                <a href="https://www.instagram.com/jineetvaishnav/"><img src="./static/images/insta.png" alt=""></a>
            <a href="https://github.com/Jineet02"><img src="./static/images/git.png" alt=""></a>
            </div>
        </div>
        <div>
            <img src="./static/images/anisha.png" alt="anisha"><br>
            <div class="icons">
            <h2>ANISHA </h2>
            <a href="https://www.linkedin.com/in/anisha-kumari-lal-753ab9233/"><img src="./static/images/link.png" alt=""></a>
            <a href="https://www.instagram.com/_.ani_sha__/"><img src="./static/images/insta.png" alt=""></a>
            <a href="https://github.com/Fr0styfeet"><img src="./static/images/git.png" alt=""></a>
        </div>
        </div>



        <div>
            <img src="./static/images/mayank.jpeg" alt="">
            <div class="icons">
                <h2><b>MAYANK</h2></b>
                <a href="https://www.linkedin.com/in/mayank-mehta-123734229/"><img src="./static/images/link.png" alt=""></a>
                <a href="https://www.instagram.com/mayank.m08/"><img src="./static/images/insta.png" alt=""></a>
            <a href="https://github.com/mayankmehta8"><img src="./static/images/git.png" alt=""></a>

            </div>
        </div>

    </section>
</body>
</html>