{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
{% endblock %}
{% block body %}

<br>
    <section id="slider">
    <div class="slide1">
        <img src="./static/images/bg1 (2).jpeg" alt="">
        <b><p>GUIDING YOU IN <br>YOUR DARKEST TIMES</p></b>
    </div>
    <!-- <div class="slide2">
        <img src="/T17-Alt_F4/images/jett.jpg" alt="">
    </div>
    <div class="slide3">
        <img src="/T17-Alt_F4/images/sage.jpg" alt="">
    </div>
    <div class="slide4">
        <img src="/T17-Alt_F4/images/valowall.jpg" alt="">
    </div> -->
    <br><br>
    <a class="prev" onclick="changeSlides(-1)">&#10094;</a>
    <a class="next" onclick="changeSlides(1)">&#10095;</a>
    
</section>


<div><button id="but1">JOIN NOW</button></div>

<div >
    <span class="dots" onclick="currentSlide(1)"></span>
    <span class="dots" onclick="currentSlide(2)"></span>
    <span class="dots" onclick="currentSlide(3)"></span>
</div>
<br><br>

<br>
<h1><b>FEATURES</b></h1>
<br><br><br>
<section id="features">

    <div class="feature">
        <a href="./qp.html" target="_main"><img src="./static/images/question paper button.png" alt="Question Bank"></a>
        

    </div>

    <div class="feature">
        <a href="./chat.html" target="_main"><img src="./static/images/discussion forum button.png" alt="Chat Room"></a>
        
    </div>

    <div class="feature">
        <a href="./studyMaterial.html" target="_main"><img src="./static/images/study material button.png" alt="Study Material"></a>
        



    </div>
    </div>

    <div class="feature">
        <a href="http://sppudocs.unipune.ac.in/sites/news_events/SitePages/Home.aspx" target="_main"></a><img src="./static/images/sppu updates button.png" alt="SPPU Updates">

    </div><br>
    <br>
</section>

<br><br><br>


{% endblock %}