{% extends "layout.html" %}
{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
<script src="{{url_for('static', filename='Javascript/carousel.js')}}"></script>
{% endblock %}
{% block body %}

<br>
    <section id="slider">
        <div id="slide">
        <img id="Frame" src="./static/images/Frame.png" alt="">
    </div>
    <br><br>
    <a class="prev" onclick="prev()">&#10094;</a>
    <a class="next" onclick="next()">&#10095;</a>
    
</section>


<div>
    <a href="{{url_for('login')}}" target="_main"><button id="but1" href="{{url_for('register')}}">JOIN NOW</button></a></div>

<br><br>

<br>
<h1><b>FEATURES</b></h1>
<br><br><br>
<section id="features">

    <div class="feature">
        <a href="https://drive.google.com/drive/folders/1d3xCE3h5fYboumnX-LCC0M7dSQri-fCu?usp=sharing" target="_main"><img src="./static/images/question paper button.png" alt="Question Bank"></a>
        

    </div>

    <div class="feature">
        <a href="{{url_for('login')}}" target="_main"><img src="./static/images/discussion forum button.png" alt="Chat Room"></a>
        
    </div>

    <div class="feature">
        <a href="https://drive.google.com/drive/folders/1vBvyMeKEjWxc9gVjCFTzl-cM4WJu31NQ?usp=sharing" target="_main"><img src="./static/images/study material button.png" alt="Study Material"></a>
        



    </div>
    </div>

    <div class="feature">
        <a href="{{url_for('update')}}" target="_main"><img src="./static/images/sppu updates button.png" alt="SPPU Updates"></a>

    </div><br>
    <br>
</section>

<br><br><br>


{% endblock %}