<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login.css') }}">
</head>
<body background="{{ url_for('static', filename='images/login1.png') }}"> 
    <div class="bg-img" >
        <div class="content">
        <header>Login!</header>
        <form action="" method="POST">

            {{ form.hidden_tag() }}
            {{ form.user }}
            {{ form.password }}
            {{ form.submitf }}
    
        </form>
        <span><a href="#">Forgot Password?</a></span>
        <span><a href="{{url_for('register')}}">Register Here</a></span>
        </div>
        </div>
</body>
</html>