{% extends "layout.html" %}
    {% block head %}
    <title>Register Screen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/register.css') }}">
    {% endblock %}
    {% block body %}
<body background="{{ url_for('static', filename='images/register.png') }}"> 
    <div class="bg-img" >
        <div class="content">
        <header>Register!</header>
        <form action="" method="POST">

            {{ form.hidden_tag() }}
            {{ form.user }}
            {{ form.password }}
            {{ form.submitf }}
    
        </form>
        <span><a href="#">Forgot Password?</a></span>
        <span><a href="{{url_for('login')}}">Login Here</a></span>
        </div>
        </div>
{% endblock %}