<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/index.css">

    <title>updates</title>
</head>
<body>
    <section id="updates">
       <b> <h1>SPPU UPDATES</h1></b>
        <div id="results">
            <a href="https://results.unipune.ac.in/MCOM2013_Credit.aspx?Course_Code=NzAxMTk=&Course_Name=Ri5FLigyMDE5IENSRURJVCBQQVQuKSBBUFItTUFZIDIwMjI="><img src="./static/images/result out.png" alt=""></a>
        </div>
        <div id="re">
            <a href=""><img src="./static/images/reeval.png" alt=""></a>
            <a href=""><img src="./static/images/reexam.png" alt=""></a>
        </div>
    </section>
</body>
</html>